body{
    background-color: hsl(73, 34%, 87%);
}
.play{
    color: hsl(0, 0%, 0%);
    font-size: 40px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 250px;
    border: 5px solid hsl(0, 72%, 48%);
    border-radius: 10px;
    width: 12%;
    animation: fade 5s infinite alternate linear;
}
@keyframes fade{
    0%{border-color: hsl(0, 100%, 50%)}
    11%{border-color: hsl(320, 100%, 50%)}
    22%{border-color: hsl(280, 100%, 50%)}
	  33%{border-color: hsl(240, 100%, 50%)}
	  44%{border-color: hsl(200, 98%, 50%)}
	  55%{border-color: hsl(160, 100%, 50%)}
	  66%{border-color: hsl(120, 100%, 50%)}
    77%{border-color: hsl(80, 100%, 50%)}
    88%{border-color: hsl(40, 100%, 50%)}
    100%{border-color: hsl(0, 100%, 50%)}
}
.menu{
  background-color: black;
  overflow: hidden;
}
.menu a{
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  text-decoration: none;
}
.menu a:hover{
  background-color: hsl(290, 53%, 49%);
  color: black;
}

